/* Box Model Hack */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 2px solid green;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/


body {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1, h3 {
    color: plum;
    background-color: peru;
    margin: 0;
}
ul, ol {
    padding-inline-start: 40px;
    padding-top: .1em;
    background-color: antiquewhite;
}
li {
    line-height: 1.5rem;
    /* padding-top: .1rem;
    padding-bottom: .1rem; */
    color: blueviolet;
}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

.container{
    margin-top: 5px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/